body {
    background-color: black;
    }
div 
    {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    }    
button 
    {
    background-color: darkcyan;
    padding: 10px 20px;
    border: 1px solid darkcyan;
    border-radius: 1em;
    margin: 0px 10px; 
    }    
a   {
    color: whitesmoke;
    text-decoration: none;
    }
        
        


